@model  SeaBattleASP.Models.Player
@{
    ViewData["Title"] = "Home Page";
}

<h2>Register</h2>

<form method="post" asp-controller="Home" asp-action="Index">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label>Name</label><br />
        <input id="userName" type="text" onkeyup="validateUserName()" name="userName" />

    </div>

    <div>
        <input id="register" disabled="disabled"  type="submit" style="margin-top: 5px;" value="Register"/>
    </div>
</form>