@model IEnumerable<SeaBattleASP.Models.Player>

@{
    ViewData["Title"] = "Game Page";
}

<table class="table">
    @foreach (Player p in Model)
    {
        <tr><td>@p.Id</td><td>@p.Name</td><td><button >Play</button></td></tr>
    }
</table>