@model SeaBattleASP.Models.MapModel

@{
    ViewData["Title"] = "Game Page";
}

<h2>@ViewData["PlayerName"].</h2>
<table class="table">
    @foreach (Player p in Model.Players)
    {
        <tr>
            <td>@p.Id</td>
            <td>@p.Name</td>
            <td>
                @using (Html.BeginForm("Index", "Game", FormMethod.Post))
                {
                    <button>PLAY</button>
                }
            </td>
        </tr>
    }
</table>