@{
    ViewData["Title"] = "Game Page";
}

<script src="~/js/site.js"></script>
<section>
    <div id="leftFieldText">
        <p>Игрок1</p>
        <div id="leftText"></div>
        <div id="leftField">
        </div><div id="leftTextLeft"></div>
    </div>
    <div id="rightFieldText">
        <p>Игрок2</p>
        <div id="rightText"></div>
        <div id="rightField">
        </div><div id="rightTextLeft"></div>
    </div>
</section>
